<div class="container" style="margin: 100px">
    {{employeeForm.value|json}}
    <form [formGroup]="employeeForm" novalidate>
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="Name" aria-describedby="emailHelp"
            formControlName="name" placeholder="Enter Name">
        
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control" id="email" aria-describedby="emailHelp"
            formControlName="email" placeholder="Enter email">
            
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password">
        </div>
      
        <button type="submit" class="btn btn-primary" (click)="SubmitData(employeeForm.value)">{{btnSave}}</button>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">S. No </th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employeeList; let i=index;">
            <td>{{i+1}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.password}}</td>
            <td><button (click)="edit(emp.id)">Edit</button></td>
            <td><button (click)="delete(emp.id)">Delete</button></td>
        </tr>
    </tbody>
</table>

















